body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

#sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

#logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

#logo img {
    width: 80px;
}

#sidebar__navigation ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

#sidebar__navigation ul li {
    padding: 10px 0;
}

#sidebar__navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

#biblioteca {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    min-block-size: 18px;
    padding: 16px 0 0 16px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    flex-direction: column;
    height: 100vh;
}

#biblioteca__button {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

#biblioteca__content {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 0;
    margin-left: 20px;
}

#biblioteca__content a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

#playlist {
    margin-top: 15px;
    border-radius: 8px;
    background-color: rgb(49, 49, 49);
    width: 78%;
    padding: 20px 25px 20px;
    border-radius: 10px;
}

#sidebar__span {
    font-weight: 600;
    font-size: 15px;
    color: white;
}

#sidebar__p {
    margin-top: 10px;
    font-size: 12px;
    color: white;
}

#sidebar__button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #121212;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 80%;
}

#podcast {
    margin-top: 15px;
    border-radius: 8px;
    background-color: rgb(49, 49, 49);
    width: 78%;
    padding: 20px 25px 20px;
}

#cookies {
    margin: 25px 20px;
}

#cookies a {
    color: #b3b3b3;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}

#cookies a:hover {
    text-decoration: underline;
}

#idiomas__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

#footer {
    display: flex;
    direction: column;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    align-items: center;
    box-sizing: border-box;
    height: 66px;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 24px;
    padding-top: 11px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 1;
}

#text__t {
    color:#fff;
    cursor: pointer;
    display:block;
    font-size: 14px;
    font-weight: 700; 
    line-height: normal;
}

#text__s {
    color:#fff;
    cursor: pointer;
    display:block;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    line-height: normal;
    margin-top: 10px;
}

#foot__button button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #878787;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin: 8px;
    width: 170px;
    padding: 8px 32px;
    border-radius: 20px;
    white-space: nowrap;
}

